.box{
    align-items: center !important;
    background-color: white;
    border-radius: 15px;
}
.box-container{
    display: flex !important;
    flex: 1 !important;
    justify-content: center;
    align-items: baseline !important;
    min-height: 90vh;
}
.table-div{
    color: gray;
    box-shadow: 2px 2px 15px silver !important;
    padding: 15px !important;
    max-width:100%;
}

.table-sm-1{
    overflow:hidden;
    overflow-y: scroll;
    max-height: 600px; // change this to desired height 
    min-height: 600px;
    overflow-x: auto ;
    white-space: nowrap;
}

th {
    color: black !important;
    font-size: 16px;
    font-weight: 600 !important;
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: white !important;
 }

 td{
    font-size: 16px; 
 }



 @media only screen and (max-width: 1440px) {
    .table-sm-1{
        overflow:hidden;
        overflow-y: scroll;
        min-height: 780px;
        max-height: 600px; // change this to desired height 
        overflow-x: auto ;
        white-space: nowrap;
    }
  }

 @media only screen and (max-width: 1024px) {
    .table-sm-1{
        overflow:hidden;
        overflow-y: scroll;
        min-height: 680px;
        max-height: 600px; // change this to desired height 
        overflow-x: auto ;
        white-space: nowrap;
    }
  }