.entry-form-div {
    align-items: center !important;
    background-color: white;
    border-radius: 15px;
    max-width: 48rem !important;
}

.entry-form-container {
    display: flex !important;
    flex: 1 !important;
    justify-content: center;
    align-items: center !important;
    min-height: 80vh;
}

.signup-heading-div {
    margin: 5px !important;
}

.entry-heading-div {
    color:black !important;
    text-align: left;
    color: '#002140';
}

.entry-form {
    padding: 20px !important;
    box-shadow: 2px 2px 15px silver !important;
    padding: 50px !important;
}
