.entry-form-div {
    align-items: center !important;
    background-color: white;
    border-radius: 15px;
    max-width: 48rem !important;
}

.entry-form-container {
    display: flex !important;
    flex: 1 !important;
    justify-content: center;
    align-items: center !important;
    min-height: 80vh;
}

.signup-heading-div {
    margin: 5px !important;
}

.signup-form-heading {
    text-align: center;
    font-size: 50px;
    color: '#002140';
    margin-bottom: 3rem;
}

.entry-form {
    color: gray;
    box-shadow: 2px 2px 15px silver !important;
    padding: 50px !important;
}

.signup-field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

.signup-label-img {
    height: 18px;
    width: 18px;
}

.signup-label {
    transition: all 0.2s;
    touch-action: manipulation;
    width: 61px;
    height: 17px;
    font-size: 12px;
}

.signup-input-password,
.signup-input-email {
    font-size: 1.5rem !important;
    border: 0 !important;
    border-bottom: 1px solid #ccc !important;
    font-family: inherit !important;
    -webkit-appearance: none !important;
    border-radius: 0 !important;
    cursor: text;
}

.signup-input-password,
.signup-input-email:focus {
    outline: 0;
    border-bottom: 1px solid #666;
}

.signup-label {
    letter-spacing: 0.05em;
}

.signup-input-password:placeholder-shown+.signup-label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}

.signup-input-email:placeholder-shown+.signup-label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

input:focus::-webkit-input-placeholder {
    opacity: 1;
}

.signup-input-password:not(:placeholder-shown)+.signup-label,
.signup-input-password:focus+.signup-label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

.signup-input-email:not(:placeholder-shown)+.signup-label,
.signup-input-email:focus+.signup-label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
}

.form-signup-btn:hover {
    font-weight: 600;
    background-color: white !important;
    color: #3A3B3C !important;
    border-color: #3A3B3C !important;
    width: 150px;
}
.entry-btn {
    color: white !important;
    border-color: #002140 !important;
    width: 150px;
    background-color: #002140 !important;
}
.entry-btn:hover {
    font-weight: 600;
    background-color: white !important;
    color: #002140 !important;
    border-color: #002140 !important;
    width: 150px;
}