.entry-form-div {
    align-items: center !important;
    background-color: white;
    border-radius: 15px;
    max-width: 48rem !important;
}

.entry-form-container {
    display: flex !important;
    flex: 1 !important;
    justify-content: center;
    align-items: center !important;
    min-height: 80vh;
}

.signup-heading-div {
    margin: 5px !important;
}

.signup-form-heading {
    text-align: center;
    font-size: 50px;
    color: '#002140';
    margin-bottom: 3rem;
}

.entry-form {
    color: gray;
    box-shadow: 2px 2px 15px silver !important;
    padding: 50px !important;
}


.entry-btn {
    color: white !important;
    border-color: #002140 !important;
    width: 150px;
    background-color: #002140 !important;
}
.entry-btn:hover {
    font-weight: 600;
    background-color: white !important;
    color: #002140 !important;
    border-color: #002140 !important;
    width: 150px;
}