 
::-webkit-scrollbar {
  height: 4px;/* height of horizontal scrollbar â† You're missing this */
  width: 4px;/* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: silver; 
    border-radius: 10px;
  }
  
  html,
  body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  
  
  body{
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
  }
  
  @keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }


//   .main {
//     min-height: 100vh;
//     padding: 4rem 0;
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .footer {
//     display: flex;
//     flex: 1;
//     padding: 2rem 0;
//     border-top: 1px solid #eaeaea;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .footer a {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-grow: 1;
//   }
  
