@import '~mdb-ui-kit/css/mdb.min.css';

::-webkit-scrollbar {
  height: 4px;/* height of horizontal scrollbar â† You're missing this */
  width: 4px;/* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: silver; 
    border-radius: 10px;
  }
  
  html,
  body {
    margin: 0;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }

  .loader{
    display: flex !important;
    flex: 1 !important;
    justify-content: center;
    align-self:center;
  }

.btn {
    color: white !important;
    border-color: #004D99 !important;
    width: 150px;
    background-color: #004D99 !important;

    &:hover{
      font-weight: 600;
      background-color: white !important;
      color: #004D99 !important;
      border-color: #004D99 !important;
      width: 150px;
    }
}

.send-btn{
    color: white !important;
    background-color: #004D99 !important;
    width: 130px;
    height: 40px;

    &:hover{
      font-weight: 600;
      background-color: white !important;
      color: #004D99 !important;
      border-color: #004D99 !important;
      width: 130px;
    }
}

.add-btn{
  color: white !important;
  background-color: #004D99 !important;
    width: 180px;
    height: 40px !important;

    &:hover{
      font-weight: 600;
      background-color: white !important;
      color: #002140 !important;
      border-color: #002140 !important;
      width: 180px;
      height: 40px !important;
    }
}

.btn-xl{
  color: white !important;
  background-color: #004D99 !important;
  width: 150px;
  height: 40px !important;

  &:hover{
    font-weight: 600;
    background-color: white !important;
    color: #004D99 !important;
    border-color: #004D99 !important;
    width: 150px;
  }
}

//   .main {
//     min-height: 100vh;
//     padding: 4rem 0;
//     flex: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .footer {
//     display: flex;
//     flex: 1;
//     padding: 2rem 0;
//     border-top: 1px solid #eaeaea;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .footer a {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-grow: 1;
//   }
  
  // body{
  //   -webkit-animation: fadein 2s;
  //   /* Safari, Chrome and Opera > 12.1 */
  //   -moz-animation: fadein 2s;
  //   /* Firefox < 16 */
  //   -ms-animation: fadein 2s;
  //   /* Internet Explorer */
  //   -o-animation: fadein 2s;
  //   /* Opera < 12.1 */
  //   animation: fadein 2s;
  // }
  
  // @keyframes fadein {
  //   from {
  //       opacity: 0;
  //   }
  //   to {
  //       opacity: 1;
  //   }
  // }