@import '~mdb-ui-kit/css/mdb.min.css';

::-webkit-scrollbar {
  height: 4px;/* height of horizontal scrollbar ← You're missing this */
  width: 4px;/* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: silver; 
    border-radius: 10px;
  }
  
  html,
  body {
    margin: 0;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }

  .loader{
    display: flex !important;
    flex: 1 !important;
    justify-content: center;
    align-self:center;
  }

.error-line{
  color: red;
  font-size: 12px;
}

.ant-menu-item{
  &:hover{
    background-color: white !important;
    color: #4fafe7 !important;
  }
}

.ant-menu-item-selected {
  background-color:#4fafe7 !important;
  }

.global-container{
  min-height: 80vh;
  background-color: white;
  color: gray;
  box-shadow: 2px 2px 15px silver !important;
  padding: 16px !important;
  padding-top: 25px !important;
  border-radius: 15px;
}

.global-div{
  overflow:hidden;
  overflow-y: scroll;
  min-height: 790px;
  max-height: 600px; // change this to desired height 
  white-space: nowrap;
}


// Font Sizings 
.f-5{ font-size: 5px!important; }
.f-10{ font-size: 10px!important; }
.f-11{ font-size: 11px!important; }
.f-12{ font-size: 12px!important; }
.f-13{ font-size: 13px!important; }
.f-15{ font-size: 15px!important; }
.f-20{ font-size: 20px!important; }
.f-25{ font-size: 25px!important; }
.f-30{ font-size: 30px!important; }
.f-35{ font-size: 35px!important; }

// Font Weight 
.fw-100{ font-weight: 100!important; }
.fw-200{ font-weight: 200!important; }
.fw-300{ font-weight: 300!important; }
.fw-500{ font-weight: 500!important; }
.fw-600{ font-weight: 600!important; }
.fw-700{ font-weight: 700!important; }
.fw-800{ font-weight: 800!important; }

.table-sm-1{
    max-height: 400px;
    overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 25px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-btn-sm{
  transition: all 0.5s;
  font-size: 14px;
  background-color: white;
  border: 1px solid #4fafe7 !important;
  border-radius: 13px !important;
  padding:5px 20px 5px 20px;
  font-weight: 500;
  &:hover{
    transition-duration: 300ms;
    background-color: #4fafe7;
    color: white !important;
  }
}

.custom-btn-xsm{
  transition: all 0.5s;
  font-size: 13px;
  background-color: white;
  border: 1px solid #4fafe7 !important;
  border-radius: 13px !important;
  padding:5px 20px 5px 20px;
  font-weight: 500;
  &:hover{
    transition-duration: 300ms;
    background-color: #4fafe7;
    color: white !important;
  }
}

.custom-btn{
  // rgb(93, 223, 243)
  // rgb(117, 220, 236)
  transition: all 0.5s;
  font-size: 15px;
  width: 22%;
  background-color: white;
  border: 1px solid #4fafe7 !important;
  border-radius: 13px !important;
  padding:5px 20px 5px 20px;
  font-weight: 500;
  &:hover{
    transition-duration: 300ms;
    background-color:#4fafe7 !important;
    color: white !important;
  }
}

.custom-btn-lg{
  transition: all 0.5s;
  font-size: 15px;
  background-color:#4fafe7 ;
  border: 1px solid #4fafe7 !important;
  border-radius: 13px !important;
  padding:15px 25px px 25px;
  font-weight: 500;
  &:hover{
    transition-duration: 300ms;
    background-color:#4fafe7;
    color: white !important;
  }
}

.cancel-btn{
  width: 22%;
  font-size: 15px;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(203, 38, 9) !important;
  color: rgb(203, 38, 9) ;
  border-radius: 13px !important;
  padding:5px 20px 5px 20px;
  font-weight: 500;

  &:hover{
  color: white !important;
  transition-duration: 300ms;
  background-color: rgb(203, 38, 9);
  color: white;
  }
}

.cancel-btn-xsm{
  font-size: 13px;
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(203, 38, 9) !important;
  color: rgb(203, 38, 9) ;
  border-radius: 13px !important;
  padding:5px 20px 5px 20px;
  font-weight: 500;

  &:hover{
  color: white !important;
  transition-duration: 300ms;
  background-color: rgb(203, 38, 9);
  color: white;
  }
}

.special-btn-xl{
  color: white !important;
  background-color: #004D99 !important;
  width: 135px;
  height: 35px !important;

  &:hover{
    font-weight: 600;
    background-color: white !important;
    color: #004D99 !important;
    border-color: #004D99 !important;
    width: 135px;
    height: 35px !important;
  }
}

.theme-color{
  color: rgb(6, 150, 172)!important;
}

.modify-edit:hover{
  cursor: pointer;
  align-items: center;
  text-align: center;
  color:#4fafe7!important;
}


