.signin-page-div {
    background-repeat: no-repeat;
    background-size: cover !important;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,77,153,1) 100%, rgba(0,77,153,1) 100%);
}

.signin-form-div {
    align-items: center !important;
    background-color: white;
    border-radius: 15px;
}

.signin-form-container {
    display: flex !important;
    flex: 1 !important;
    justify-content: center;
    align-items: center !important;
    min-height: 100vh;
}

.signin-form-heading {
    font-weight: 530;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color: #004D99;
}

.signin-field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
}

.signin-form {
    padding: 130px !important;
    padding-top:20px !important;
    // color: gray;
    // box-shadow: 2px 2px 15px silver !important;
}
.input-placeholder{
    width: 300px;
}